<nav class="nav-index">
    <span class="icon-index"><i class="bi bi-houses"></i></span>
    <span class="nav-label">Endereços</span>
</nav>


<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>
<br><br>
<div class="container">
    <div class="card">
            <div class="card-header">
                <h1>Cadastrar Endereço</h1>
            </div>
    
        <div class="card-body">
            <form action="/enderecos/new" method="POST">
                <label>Logradouro:</label>
                <input type="text" name="logradouro" id="logradouro" placeholder="Insira o lograduro" class="form-control" required >

                <label>Número:</label>
                <input type="text" name="numero" id="numero" placeholder="Insira o número " class="form-control" required >

                <label>Bairro:</label>
                <input type="text" name="bairro" id="bairro" placeholder="Insira o bairro" class="form-control" required >

                <label>Cidade:</label>
                <input type="text" name="cidade" id="cidade" placeholder="Insira a cidade" class="form-control" required >

                <label>Estado:</label>
                <input type="text" name="estado" id="estado" placeholder="Insira o estado" class="form-control" required >

                <label>País:</label>
                <input type="text" name="pais" id="pais" placeholder="Insira o país" class="form-control" required >

                <label>CEP:</label>
                <input type="text" name="cep" id="cep" placeholder="Insira o CEP" class="form-control" required >

                <label>Latitude:</label>
                <input type="text" name="latitude" id="latitude" placeholder="Insira a Latitude" class="form-control" required >

                <label>Longitude:</label>
                <input type="text" name="longitude" id="longitude" placeholder="Insira a longitude" class="form-control" required >
                <br>
                <input type="submit" class="btn btn-success" value="Cadastrar">
            </form>
            <hr>
        </div>
    </div>
</div>
<br><br>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>Endereços</h1>
                </div>
                <div class="card-body alinhar">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Lograduro:</th>
                                <th>Número:</th>
                                <th>Bairro:</th>
                                <th>Cidade:</th>
                                <th>Estado:</th>
                                <th>País:</th>
                                <th>CEP:</th>
                                <th>Latitude:</th>
                                <th>Longitude:</th>
                                <th colspan="2">Ações:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% enderecos.forEach(endereco=> { %>
                                <tr >
                                    <td><img src="imgs/avatar.png" width="30px"></td>
                                    <td class="row-logradouro" style="padding-right: 50px;">
                                        <%= endereco.logradouro %>
                                    </td>
                                    <td class="row-numero" style="padding-right: 50px;">
                                        <%= endereco.numero %>
                                    </td>
                                    <td class="row-bairro" style="padding-right: 50px;">
                                        <%= endereco.bairro %>
                                    </td>
                                    <td class="row-cidade" style="padding-right: 50px;">
                                        <%= endereco.cidade %>
                                    </td>
                                    <td class="row-estado" style="padding-right: 50px;">
                                        <%= endereco.estado %>
                                    </td>
                                    <td class="row-pais" style="padding-right: 50px;">
                                        <%= endereco.pais %>
                                    </td>
                                    <td class="row-cep" style="padding-right: 50px;">
                                        <%= endereco.cep %>
                                    </td>
                                    <td class="row-latitude" style="padding-right: 50px;">
                                        <%= endereco.latitude %>
                                    </td>
                                    <td class="row-longitude" style="padding-right: 50px;">
                                        <%= endereco.longitude %>
                                    </td>
                                    <td class="row-edit"><a style="color: orange;" href="/enderecos/edit/<%= endereco.id %>">Editar</a></td>

                                    <td class="row-delete"><a style="color: red;"  href="/enderecos/delete/<%= endereco.id %>" onclick="return confirm('Deseja realmente deletar o endereço?')">Deletar</a></td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

<%- include ('partials/footer.ejs') %>