<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<br><br><br><br><br><br><br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Editar Usuário</h1>
            <hr>
        </div>
        <div class="card-body">
            <form action="/tipoUsuarios/update" method="POST">
                <label>Tipo Usuario:</label>
                <input class="form-control" type="text" name="tipo_usuario" id="tipo_usuario" value="<%= tipoUsuarios.tipo_usuario %>" required>
                
                <input type="hidden" name="id" value="<%= tipoUsuarios.id %>"
                <br><br>
                <input type="submit" class="btn btn-warning" value="Alterar" onclick="return confirm ('Confirma as alterações para o endereco?')">
            </form>
            <hr>
        </div>
    </div>
</div>
<br><br><br><br><br>

<%- include ('partials/footer.ejs') %>