<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>
<br><br>
<div class="container">
    <div class="card">
            <div class="card-header">
                <h1>Cadastrar Unidade</h1>
            </div>
    
        <div class="card-body">
            <form action="/unidades/new" method="POST">
                <label>Unidade:</label>
                <input type="text" name="unidade" id="unidade" placeholder="Insira a Unidade" class="form-control" required >

                <label>Telefone:</label>
                <input type="text" name="telefone" id="telefone" placeholder="Insira o Telefone" class="form-control" required >

                <label>Endereço:</label>
                <input type="text" name="endereco" id="endereco" placeholder="Insira o Endereco" class="form-control" required >
                <br>
                <input type="submit" class="btn btn-success" value="Cadastrar">
            </form>
            <hr>
        </div>
    </div>
</div>
<br><br>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>Unidades</h1>
                </div>
                <div class="card-body alinhar">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Unidade:</th>
                                <th>Telefone:</th>
                                <th>Endereço:</th>
                                <th colspan="2">Ações:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% unidades.forEach(unidade=> { %>
                                <tr >
                                    <td><img src="imgs/avatar.png" width="30px"></td>
                                    <td class="row-unidade">
                                        <%= unidade.unidade %>
                                    </td>
                                    <td class="row-telefone">
                                        <%= unidade.telefone %>
                                    </td>
                                    <td class="row-endereco">
                                        <%= unidade.endereco %>
                                    </td>
                                    <td class="row-edit"><a style="color: orange;" href="/unidades/edit/<%= unidade.id %>">Editar</a></td>

                                    <td class="row-delete"><a style="color: red;"  href="/unidades/delete/<%= unidade.id %>" onclick="return confirm('Deseja realmente deletar o endereço?')">Deletar</a></td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

<%- include ('partials/footer.ejs') %>